<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Admin Page</title>
</head>
<body>
<nav>
    <div class="nav-wrapper">
        <div class="container">
            <a href="/employee/load" class="brand-logo">Welcome Admin</a>
            <ul id="nav-mobile" class="right">
                <li><a href="/employee/create">Create Employee</a></li>
                <li><a href="/employee/employees">View Employees</a></li>
<!--                <li><a onclick="return confirm('Are you sure?')" href="/attendance/take">Take Attendance</a></li>-->
                <li><a href="/attendance/view">View Attendance</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container" style="margin-top: 10rem">
    <div class="row">
        <form class="col s12" method="post" th:action="@{'/employee/view/'+${employee_id}}" th:object="${employee}">
            <div class="row">
                <div class="input-field col s6">
                    <input id="first_name" type="text" th:placeholder="${employee.getFirstName()}" class="validate" th:field="*{firstName}">
                    <label for="first_name">First Name</label>
                </div>
                <div class="input-field col s6">
                    <input id="last_name" type="text" th:placeholder="${employee.getLastName()}" class="validate" th:field="*{lastName}">
                    <label for="last_name">Last Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="email" type="email" th:placeholder="${employee.getEmail()}" class="validate" th:field="*{email}">
                    <label for="first_name">Email</label>
                </div>
                <div class="input-field col s6">
                    <input id="password" type="password" class="validate" th:field="*{password}">
                    <label for="last_name">Password</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="role" type="text" th:placeholder="${employee.getRole()}" class="validate" th:field="*{role}">
                    <label for="first_name">Role</label>
                </div>
                <div class="input-field col s6">
                    <input id="phone_no" type="text" th:placeholder="${employee.getPhoneNo()}" class="validate" th:field="*{phoneNo}">
                    <label for="last_name">Phone No</label>
                </div>
            </div>
            <div class="input-field col s6">
                <button class="btn" onclick="return confirm('Update Employee Bio')" style="background-color: #EE6E73" type="submit" name="action">Update</button>
            </div>
        </form>
        <form method="post" th:object="${employee}" th:action="@{'/employee/delete/'+${employee_id}}">
            <button class="btn" onclick="return confirm('Confirm Delete')" th:action="@{'/employee/delete/'+${employee_id}}"
                    style="background-color: #EE6E73; margin-left: 1.5rem" type="submit" name="action">Delete</button>
        </form>

    </div>
</div>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script th:src="@{/js/scripts.js}" src="../static/js/scripts..js"></script>
</html>